.add-option-error{
    color: $offWhite;
    font-style: italic;
    margin: $spacing 0 0 0;
    padding: 0 $spacing;
}

.add-option{
    display: flex;
    flex-direction: column;
    padding: $spacing;
}

.add-option__input{
    background: $darkBlue;
    border: none;
    color: $offWhite;
    border-bottom: .3rem solid darken($color: $darkBlue, $amount: 10%);
    flex-grow: 1;
    margin: 0 0 $spacing 0;
    //margin-right: $spacing;
    padding: $spacing;
}


@media (min-width: $desktop-breakpoint){
    .add-option {
        flex-direction: row;
    }

    .add-option__input{
        margin: 0 $spacing 0 0;
    }
}